<div class="step2">
    <div class="finish clearfix">
        <img src="img/finish.png" class="pull-left" />
        <div class="finish-copy pull-left">
            <p>xxx，恭喜您，已经完成了个人注册！</p>
            <div><span>您的注册帐号是：xxx<br /></span>您可以通过以下加入/创建公司快速体验。</div>
        </div>
    </div>
    <div class="jion">
        <div class="search-title clearfix">
            <input type="text" class="search-campany" placeholder="请输入您要加入的公司名称" >
            <button class="search-c">搜索</button>
            <button class="add-new-c">创建新公司</button>
        </div>
        <div class="search-list" >
            <ul>
                <li class="first clearfix">
                    <div class="number">序号</div>
                    <div class="name">公司名称</div>
                    <div class="contact">联系人</div>
                    <div class="edit">操作</div>
                </li>
                <li class="clearfix" >
                    <div class="number">1</div>
                    <div class="name" >xxx</div>
                    <div class="contact">ccccc&nbsp;</div>
                    <div class="edit"><button type="button" class="btn-jion">加入</button></div>
                </li>
            </ul>
        </div>
        <div class="page-list-box page-list" ></div>
    </div>
</div>
<div class="step2" >
    <div class="finish clearfix">
        <img src="img/finish.png" class="pull-left" />
        <div class="finish-copy pull-left">
            <p>无效用户！</p>
            <div>链接无效，请联系管理员。</div>
        </div>
    </div>
</div>
<div class="createCampany" >
    <div>
	    <ul class="companyField ulInitial">
	        <li class="required">公司名称</li>
	        <li>
	            <input type="text" class="companyName" placeholder="请输入您要创建的公司名称" maxlength="30">
	            <label class="error"></label>
	        </li>
	    </ul>
	    <div class="clearfix"></div>
    </div>
    <div>
	    <ul class="companyField ulInitial">
	        <li class="required">公司类型</li>
	        <li>
				<div class="right-list2">
		       		<div class="list-slide01 mgr-20">
		               <div class="select" tabindex="0" id="companyType">
		            	   <label style="line-height:28px;">ggggxxxx</label>	                   
		                   <div class="option-box">
		                       <div class="option-list">
		                           <ul>
		                               <li >xxxcxccxcx</li>
		                           </ul>
		                       </div>
		                   </div>
		                   <i class="icon-uniE610"></i>
		               </div>
		           </div>
		       </div>
	        </li>
	    </ul>
	    <div class="clearfix"></div>
    </div>
    <div>
   	    <ul class="companyField ulInitial">
	        <li class="required">行业</li>
	        <li>
	            <ul class="industriesList">
	                <li  >
	                    <p class="clearfix"><i></i>dsdasas</p>
	                    <span>sadasads<i class="icon-uniE60F2"></i></span>
	                </li>
	            </ul>
	        </li>
    	</ul>
    	<div class="clearfix"></div>
    </div>
    <div>
   	    <ul class="companyField ulInitial">
        <li class="required">公司证件</li>
        <!-- 如果是个体工商户，则没有所谓“三证/三证合一”-->
        <li >
            <ul class="nav nav-tabs certificateTab">
                <li >
                    <a data-toggle="tab">三证</a>
                </li>
                <li >
                    <a data-toggle="tab">三证合一(有统一社会信用代码)</a>
                </li>
                <li >
                    <a data-toggle="tab">三证合一(无统一社会信用代码)</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" >
                    <p class="notice grey">“三证合一”，就是将企业依次申请的工商营业执照、组织机构代码证和税务登记证三证合为一证</p>
                    <div class="certificate-new">
                        <ul class="clearfix">
                            <li>
                                <p class="required">营业执照</p>
                                <div class="modal-file" >
                                    <a href="./img/certificate.jpg" target="_blank">
                                        <span>
                                            <img title="营业执照" src="./img/certificate.jpg" width="110px" height="90px"/>
                                        </span>
                                    </a>
                                    <a href="./img/certificate.jpg" target="_blank" class="modal-img">点击查看</a>
                                </div>
                                <div class="modal-file" >
                                    <a target="_blank">
                                        <span>
                                            <img title="营业执照" width="110px" height="90px">
                                        </span>
                                    </a>
                                    <a target="_blank" class="modal-img">点击查看</a>
                                </div>
                                <div class="choose-file">
                                    <a href="javascript:void(0)" class="file-btn" >
                                        选择文件...
                                        <input class="back-txt" name="recommendFile" >
                                    </a>
                                    <i class="icon-uniE60F2"></i>
                                </div>
                            </li>
                            <li>
                                <p class="required">组织机构代码证</p>
                                <div class="modal-file" >
                                    <a href="./img/code.jpg" target="_blank">
                                        <span>
                                            <img title="组织机构代码证" src="./img/code.jpg" width="110px" height="90px">
                                        </span>
                                    </a>
                                    <a href="./img/code.jpg" target="_blank" class="modal-img">点击查看</a>
                                </div>
                                <div class="modal-file" >
                                    <a target="_blank">
                                        <span>
                                            <img title="组织机构代码证"  width="110px" height="90px"/>
                                        </span>
                                    </a>
                                    <a target="_blank" class="modal-img">点击查看</a>
                                </div>
                                <div class="choose-file">
                                    <a href="javascript:void(0)" class="file-btn" >
                                        选择文件...
                                        <input class="back-txt" name="recommendFile" />
                                    </a>
                                    <i class="icon-uniE60F2"></i>
                                </div>
                            </li>
                            <li>
                                <p class="required">税务登记证</p>
                                <div class="modal-file" >
                                    <a href="./img/tax.jpg" target="_blank">
                                        <span>
                                            <img title="税务登记证" src="./img/tax.jpg" width="110px" height="90px">
                                        </span>
                                    </a>
                                    <a href="./img/tax.jpg" target="_blank" class="modal-img">点击查看</a>
                                </div>
                                <div class="modal-file" >
                                    <a  target="_blank">
                                        <span>
                                            <img title="税务登记证" width="110px" height="90px">
                                        </span>
                                    </a>
                                    <a target="_blank" class="modal-img">点击查看</a>
                                </div>
                                <div class="choose-file">
                                    <a href="javascript:void(0)" class="file-btn" >
                                        选择文件...
                                        <input class="back-txt" name="recommendFile" />
                                    </a>
                                    <i class="icon-uniE60F2"></i>
                                </div>
                            </li>
                        </ul>
                        <div class="notice-info">友情提醒：<span class="grey">请将以上三份材料的<span class="red">原件，加盖公章复印件，上传彩色扫描件</span>，请确保证件信息需清晰可见，内容真实有效，不得做任何修改。照片支持jpg .jpeg .bmp .gif .png格式，大小不超过2M。</span></div>
                    </div>
                </div>
                <div class="tab-pane" >
                    <p class="notice grey">“三证合一”，就是将企业依次申请的工商营业执照、组织机构代码证和税务登记证三证合为一证</p>
                    <div class="certificate-new">
                        <ul class="choose-certi clearfix">
                            <li>
                                <p class="required">营业执照</p>
                                <div class="modal-file" >
                                    <a href="./img/certificate.jpg" target="_blank">
                                        <span>
                                            <img title="营业执照" src="./img/certificate.jpg" width="110px" height="90px"/>
                                        </span>
                                    </a>
                                    <a href="./img/certificate.jpg" target="_blank" class="modal-img">点击查看</a>
                                </div>
                                <div class="modal-file" >
                                    <a  target="_blank">
                                        <span>
                                            <img title="营业执照" width="110px" height="90px">
                                        </span>
                                    </a>
                                    <a target="_blank" class="modal-img">点击查看</a>
                                </div>
                            </li>
                            <li>
                                <div class="intro pull-left">
                                    <div class="notice-info" style="padding-top:0;">友情提醒：<span class="grey">请将以上材料的<span class="red">原件，加盖公章复印件，上传彩色扫描件</span>，请确保证件信息需清晰可见，内容真实有效，不得做任何修改。照片支持jpg .jpeg .bmp .gif .png格式，大小不超过2M。</span></div>
                                    <div class="choose-file">
                                        <a href="javascript:void(0)" class="file-btn">
                                            选择文件...
                                            <input class="back-txt" name="recommendFile" >
                                        </a>
                                        <i class="icon-uniE60F2"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="tab-pane" >
                    <p class="notice grey">“三证合一”，就是将企业依次申请的工商营业执照、组织机构代码证和税务登记证三证合为一证</p>
                    <div class="certificate-new">
                        <ul class="choose-certi clearfix">
                            <li>
                                <p class="required">营业执照</p>
                                <div class="modal-file" >
                                    <a href="./img/certificate.jpg" target="_blank">
                                        <span>
                                            <img title="营业执照" src="./img/certificate.jpg" width="110px" height="90px"/>
                                        </span>
                                    </a>
                                    <a href="./img/certificate.jpg" target="_blank" class="modal-img">点击查看</a>
                                </div>
                                <div class="modal-file" >
                                    <a target="_blank">
                                        <span>
                                            <img title="营业执照" width="110px" height="90px">
                                        </span>
                                    </a>
                                    <a target="_blank" class="modal-img">点击查看</a>
                                </div>
                            </li>
                            <li>
                                <div class="intro pull-left">
                                    <div class="notice-info" style="padding-top:0;">友情提醒：<span class="grey">请将以上材料的<span class="red">原件，加盖公章复印件，上传彩色扫描件</span>，请确保证件信息需清晰可见，内容真实有效，不得做任何修改。照片支持jpg .jpeg .bmp .gif .png格式，大小不超过2M。</span></div>
                                    <div class="choose-file">
                                        <a href="javascript:void(0)" class="file-btn">
                                            选择文件...
                                            <input class="back-txt" name="recommendFile" >
                                        </a>
                                        <i class="icon-uniE60F2"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </li>       
        <li>
           <div class="tab-pane" >
               <div class="certificate-new">
                   <ul class="choose-certi clearfix">
                       <li>
                           <p class="required">营业执照</p>
                           <div class="modal-file" >
                               <a href="./img/certificate.jpg" target="_blank">
                                   <span>
                                       <img title="营业执照" src="./img/certificate.jpg" width="110px" height="90px"/>
                                   </span>
                               </a>
                               <a href="./img/certificate.jpg" target="_blank" class="modal-img">点击查看</a>
                           </div>
                           <div class="modal-file" >
                               <a target="_blank">
                                   <span>
                                       <img title="营业执照"  width="110px" height="90px"/>
                                   </span>
                               </a>
                               <a  target="_blank" class="modal-img">点击查看</a>
                           </div>
                       </li>
                       <li>
                           <div class="intro pull-left">
                               <div class="notice-info" style="padding-top:0;">友情提醒：<span class="grey">请将此材料的<span class="red">彩色原件或加盖红色公章复印件上传</span>，请确保证件信息需清晰可见，内容真实有效，不得做任何修改。照片支持jpg .jpeg .bmp .gif .png格式，大小不超过2M。</span></div>
                               <div class="choose-file">
                                   <a href="javascript:void(0)" class="file-btn">
                                       选择文件...
                                       <input class="back-txt" name="recommendFile" >
                                   </a>
                                   <i  class="icon-uniE60F2"></i>
                               </div>
                           </div>
                       </li>
                   </ul>
               </div>
           </div>
        </li>
    	</ul>
   		<div class="clearfix"></div>
    </div>
    <!-- 如果是个体工商户，则没有认证授权书 -->
    <div >
   	    <ul class="companyField ulInitial">
	        <li class="required">认证授权书</li>
	        <li>
	            <div class="certificate-new">
	                <ul class="choose-certi clearfix">
	                    <li>
	                        <div class="modal-file" >
	                            <a href="./img/apply.jpg" target="_blank">
	                                <span>
	                                    <img title="认证授权书" src="./img/apply.jpg" width="110px" height="90px"/>
	                                </span>
	                            </a>
	                            <a href="./img/apply.jpg" target="_blank" class="modal-img">点击查看</a>
	                        </div>
	                        <div class="modal-file" >
	                            <a target="_blank">
	                                <span>
	                                    <img title="认证授权书"  width="110px" height="90px"/>
	                                </span>
	                            </a>
	                            <a  target="_blank" class="modal-img">点击查看</a>
	                        </div>
	                    </li>
	                    <li>
	                        <div class="intro pull-left">
	                            <div><a href="../../php/itemConfig.php?action=downloadDoc">下载《微知认证授权书》</a></div>
	                            <div class="notice-info">友情提醒：<span class="grey">请下载《VIPHRM认证授权书》，<span class="red">加盖公章并上传</span>照片支持jpg .jpeg .bmp .gif .png格式，大小不超过2M。</span></div>
	                            <div class="choose-file">
	                                <a href="javascript:void(0)" class="file-btn">
	                                    选择文件...
	                                    <input class="back-txt" name="recommendFile" >
	                                </a>
	                                <i class="icon-uniE60F2"></i>
	                            </div>
	                        </div>
	                    </li>
	                </ul>
	            </div>
	        </li>
    	</ul>
    	<div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="text-center">
        <button type="button" class="next" >提交</button>
        <button type="button" class="cancel">取消</button></div>
</div>
