<div class="step2">
    <div class="finish clearfix">
        <div >
            <img src="img/finish.png" class="pull-left" />
            <div class="finish-copy pull-left">
                <div >
                    <p>cccc，您的加入申请已提交！</p>
                    <div>请耐心等待 dsfdsfdsdfs<b>管理员审核</b>！<br /><br />审核完成后，您将收到邮件通知，请注意查收。</div>
                </div>
                <div >
                    <p>dsfsdfsdf，您的公司注册申请已提交！</p>
                    <div>请耐心等待 上海微知软件科技有限公司 <b>管理员审核</b>！<br /><br />审核将在24小时内完成，完成后您将收到短信或邮件通知，请注意查收。</div>
                </div>
                <div >
                    <p>无效用户！</p>
                </div>
            </div>
        </div>
        <div class="refuseAudit">
            <div >
                <img src="img/refuse.png">
                <p>dsfdsfsdf 拒绝了您的加入申请！</p>
                <div class="buttons">
                    <button type="button" class="next">加入其它公司试试</button>
                </div>
            </div>
            <div >
                <img src="img/refuse.png">
                <p>您注册 dfsdsf 的申请审核不通过！</p>
                <p class="refuseReason">拒绝理由：<span>dfdsfdf</span></p>
                <div class="buttons">
                    <button type="button" class="next" >重新填写公司信息</button>
                    <button type="button" class="next" >加入公司</button>
                </div>
            </div>
        </div>
    </div>
</div>
